@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;700&display=swap');
/* font-family: 'Kalam', cursive; */

* {
    box-sizing: border-box;
}

body {
    margin: 2px 1px;
    background-color: rgb(238, 233, 227);
}

.main-container {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    font-family: 'Kalam', cursive;
}

.title {
    font-weight: 700;
    font-size: 50px;
}

.title h1 {
    margin-bottom: 50px;
}

.fetch-button {
    background-color: rgb(241, 132, 81);
    color: black;
    
    font-family: 'Kalam', cursive;
    font-weight: 300;
    font-size: 40px;

    border: 5px solid rgba(61, 61, 61, 0.452);
    border-radius: 15%;

    cursor: pointer;
}

.fetch-button:hover {
    background-color: rgb(248, 152, 108);
}

.fetch-button:active {
    background-color: rgb(139, 78, 49);
}

.doggo-image {
    display: flex;
    flex-wrap: wrap;
    
    margin-top: 70px;
}

#image-id {
    margin: 10px 10px;
}